

<body>

      <img  src="../../../assets/imagenes/fondo-login.jpg" />

   
    <div id="container">
    <br>
    <h2>
      Inicio de Sesión
    </h2>
    
    <form>
    
        <br>
        <br>
      
      <input type="text" minlength="10" maxlength="35" placeholder="Ingrese su usuario">
      <br>
      <br>

      <input type="password" minlength="8" maxlength="15" placeholder="Ingrese su contraseña">
      <br>
      <br>
      
      <button (click)="ingresar()" type="submit" >Ingresar</button>

    </form>

  </div>

</body>
