<body>

  <img src="../../../assets/imagenes/fondo.jpg">


  <div id="container">
    <br>

    <h2>
      Inicio de Sesión
    </h2>

    <form [formGroup]="profileForm" (ngSubmit)="ingresar()">

      <br>
      <br>

      <input id="usuario" formControlName="usuario" type="text" minlength="10" maxlength="30" placeholder="Ingrese su usuario"
        required>

      <br>
      <br>

      <input id="contrasena" formControlName="contrasena" type="password" placeholder="Ingrese su contraseña" required>
      <br>

      <button type="submit">Ingresar</button>

    </form>

  </div>

</body>
