* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body img {
  width: 99%;
  height: 98%;
  position: absolute;
  /*   opacity: 0.8; */
}

/*
div #container {
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    background-color: rgba(0,0,255,0.5);

     box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  } */


#container {

  text-align: center;
  border-radius: 5px;
  margin: 6em auto;
  background: rgba(255, 255, 255, 0.7);
  height: 320px;
  width: 450px;
  padding: 1em;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

}

#container h2 {

  font-family: 'Roboto', sans-serif;
  font-size: 43px;
  margin: 0;
  color: #000000;

}

#container input {


  width: 290px;
  height: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  padding: 1em 2em;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;

}

    

#container button {
  background: #196844;
  font-family: 'Roboto', sans-serif;
  padding: 0.5em 1.9em;
  margin: 2.3em 0 0 0;
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
  color: #FFFFFF;
  outline: none;
  border: none;

}
