<br>

<div class="introduccion">
    Las personas que vayan a hacer uso del sistema, deben estar previamente registradas. En esta sección el administrador podrá crear dichos usuarios con su respectivo perfil.
</div>

<div id="container">

    <h2>Registro de Usuarios</h2>
    <br>
    <form [formGroup]="usersForm" (ngSubmit)="guardar()">

        <div class="form-group">
            <label for="exampleInputPassword1">Identificación*</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Identificación del usuario">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Nombre Completo*</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del usuario" formControlName="nombre">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Primer Apellido*</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Primer apellido del usuario" formControlName="apellido1">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Segundo Apellido</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Segundo apellido del usuario" formControlName="apellido2">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Correo electrónico</label>
            <input type="email" class="form-control" id="correo" placeholder="Correo electrónico del usuario" formControlName="correo">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Teléfono*</label>
            <input type="number" class="form-control" id="telefono" placeholder="Teléfono del usuario" formControlName="telefono">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña*</label>
            <input type="number" class="form-control" id="telefono" placeholder="Contraseña del usuario" formControlName="contrasena">
        </div>

        <select placeholder="Perfil">
            <option value="1">Admin</option>
            <option value="2">Operario</option>
          </select>
        <br>
        <br>


        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="submit" class="btn btn-primary">Consultar</button>
        <button type="submit" class="btn btn-primary">Modificar</button>
        <button type="submit" class="btn btn-primary">Eliminar</button>


    </form>
</div>

<br>

<div id="botonesForm">
    <button type="submit" class="btn btn-primary" (click)="">
        Listar usuarios</button>
</div>

<br>
<br>
<br>