

<br>

<div class="introduccion"> 
 Las personas que vayan a hacer uso del sistema, deben estar previamente
 registradas. En esta sección el administrador podrá crear dichos usuarios con su respectivo perfil. 
 </div>
 
 <div id="container">

  <h2>Registro de Usuarios</h2>

  <form>

    <br>
    
    <label>Nombre Completo </label>
    <input type="text" >
  
    <br>

    <label>Identificación </label>
    <input type="number"  >
    <br>

    
    <label>Correo Electrónico </label>
    <input type="email">
    <br>

    <label>Telefono </label>
    <input type="number">

    <br>
    
    <select placeholder="Perfil">
      <option value="value1">Admin</option>
      <option value="value3">Operario</option>
    </select>
<br>
<br>

     <button type="submit">Registrar</button>
    <button type="submit">Consultar</button>
    <button type="submit">Modificar</button>
    <button type="submit">Eliminar</button>

  </form>

</div>

