

<!-- Footer -->

<footer class="page-footer bg-dark text-white ">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
         <div class="col-md-12 mt-md-0 mt-3 text-center" >
          <br>
          <!-- Content -->
          <h5 class="text-uppercase">Politécnico Colombiano Jaime Isaza Cadavid</h5>
          <p>Granja Román Gómez Gómez </p>
         <p> Marinilla | Tel 548 58 43</p>
        </div>
        <!-- Grid column -->
 </div>
</div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
            Institución de Educación Superior de caracter pública y departamental 
            sujeta a inspección y vigilancia por parte del Ministerio de Educación.
    </div>
 
  </footer>

 