<br>
<br>
<br>

<div id="container">

    <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nosotros</h4>
                    <p>La granja Román Gómez Gómez, de Marinilla, fue inaugurada en el año de 1980, por el presidente de Colombia Julio Cesar Turbay Ayala. La granja Román Gómez Gómez se encuentra ubicada en el municipio de Marinilla, vereda la Primavera,
                        a cinco kilómetros del parque principal.
                        En la granja se desarrollan programas en el áreas Pecuaria tales como: 
                        Ganado de leche,Porcicultura, Avicultura, Cunicultura y Ovinos.
                         Y en el área agrícola: Aguacate, Forrajeras, Vivero, Lombricultivo </p>
                    <img src="../../../assets/imagenes/granja.png" alt="imagen">
                    <br>
                </div>
            </div>
        </div>
  
<br>

    <div class="row">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Acerca de</h4>
                <p>
                    Este sistema fue desarrollado por Genifer Tatiana Moreno Morales para el Politécnico Colombiano Jaime Isaza Cadavid
                    <br>
                    <b>2019 - Versión 1.0</b>
                    <br>
                    <br> Los derechos de autor del sistema se encuentran regulados por la
                    <a href="http://es.presidencia.gov.co/normativa/normativa/LEY%201915%20DEL%2012%20DE%20JULIO%20DE%202018.pdf">
                            Ley 83 de 1982</a>
                </p>
                <br>
            </div>
        </div>
    </div>

<br>
<br>
</div>