
    <br>
    <br>

    <div class="container">

        <div class="card" style="width: 50rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Acerca de</h5>
              <p class="card-text">
                 El Politécnico Colombiano Jaime Isaza Cadavid es una Institución universitaria
                  de carácter público, adscrita al Gobierno Departamental de Antioquia y 
                  fundada en marzo de 1964.
                  Este sistema 
              </p>
            </div>
          </div>
        <br>
        <br>
        <br>
        <br>
       