<br>
<br>
<br>

<div>

    <div class="row">
        <div class="col-md-10 text-center p-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nosotros</h4>
                    <p>La granja Román Gómez Gómez, de Marinilla, fue inaugurada en el año de 1980, por el presidente de Colombia Julio Cesar Turbay Ayala. La granja Román Gómez Gómez se encuentra ubicada en el municipio de Marinilla, vereda la Primavera,
                        a cinco kilómetros del parque principal. Allí se llevan a cabo labores pecuarias como la porcicultura y la avicultura y labores agricolas como los huertos de aguacate, entre otros. </p>
                    <img src="../../../assets/imagenes/granja.png" alt="imagen" width="600px">
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Acerca de</h4>
                <p>
                    Este sistema fue desarrollado por Genifer Tatiana Moreno Morales para el Politécnico Colombiano Jaime Isaza Cadavid
                    <br>
                    <b>2019 - Versión 1.0</b>
                    <br>
                    <br> Los derechos de autor del sistema se encuentran regulados por la
                    <a href="http://es.presidencia.gov.co/normativa/normativa/LEY%201915%20DEL%2012%20DE%20JULIO%20DE%202018.pdf">
                            Ley 83 de 1982</a>
                </p>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>