<br>
<br>
<br>

<div class="container">

    <div class="card mb-6">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/imagenes/manuales.png" alt="imagen">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p>
                    </p>
                    <a href="#" class="btn btn-primary">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>