<br>
<br>
<br>

<div class="container">
        <div class="row">
                <div class="card">
                    <div class="card-body">
                     <img src="../../../assets/imagenes/usuario.png" alt="imagen">
                     
                        <h4 class="card-title">Mi Perfil</h4>
                        <p> La granja Román Gómez Gómez, de Marinilla, fue inaugurada en el año de 1980, por el presidente de Colombia Julio Cesar Turbay Ayala. La granja Román Gómez Gómez se encuentra ubicada en el municipio de Marinilla, vereda la Primavera,
                            a cinco kilómetros del parque principal.
                            En la granja se desarrollan programas en el áreas Pecuaria tales como: 
                            Ganado de leche,Porcicultura, Avicultura, Cunicultura y Ovinos.
                            Y en el área agrícola: Aguacate, Forrajeras, Vivero, Lombricultivo 
                        </p>

                            <a href="#"> <u> Cambiar Contraseña </u> </a>          
                    </div>
                </div>
            </div>
    <br>
    <br>
    <br>
    <br>