
.container {
    width: 50%;
    height: 50%;
  }

  .card {
    background-color:#F6F5F5;
    width: 90%;
    height: 100%;
    margin-left: 8%;
  }
  
  img {
    width: 25%;
    height: 25%;
    margin-left: 37%;
  }

  h4 {
    text-align: center;
    font-size: 25px;
  }

  a {
    margin-left: 75%;
  }

 