.introduccion {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    width: 90%;
    font-weight: 400;
    text-align: center;
    background: #D6E9DD;
    margin: 15px 15px 15px 40px;
    overflow: hidden;
    padding: 15px;
    border-radius: 35px 10px 35px 0px;
}

table {
    margin: auto;
    width: 70%;
    height: 70%;
    border: 0.2px solid #848484;
    text-align: center;
}

#formVacCamadas {
    box-shadow: 9px 9px 9px 9px rgba(133, 131, 131, 0.30);
    /*  text-align: center;
    border-radius: 5px;*/
    margin: 3em auto;
    background: rgba(226, 226, 226, 0.2);
    height: 710px;
    width: 690px;
    padding: 1em;
}

#formVacCamadas h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-size: cover;
    letter-spacing: 2px;
    font-size: 25px;
    color: #000000;
    margin: 0.5em
}

#formVacCamadas button {
    background: #196844;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1.9em;
    margin: 24px;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    border: none;
}

.form-control {
    width: 100%;
}



#formVacPorcinos {
    box-shadow: 9px 9px 9px 9px rgba(133, 131, 131, 0.30);
    /*  text-align: center;
    border-radius: 5px;*/
    margin: 3em auto;
    background: rgba(226, 226, 226, 0.2);
    height: 710px;
    width: 690px;
    padding: 1em;
}

#formVacPorcinos h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-size: cover;
    letter-spacing: 2px;
    font-size: 25px;
    color: #000000;
    margin: 0.5em
}

#formVacPorcinos button {
    background: #196844;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1.9em;
    margin: 24px;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    border: none;
}

#botonesForm {
    width: 80%;
    margin-left: 5%;
   
}

#botonesForm button {
    width: 22%;
    margin: 5px;
}