.introduccion {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    width: 90%;
    font-weight: 400;
    text-align: center;
    background: #D6E9DD;
    margin: 15px 15px 15px 40px;
    overflow: hidden;
    padding: 15px;
    border-radius: 35px 10px 35px 0px;
}

table {
    margin: auto;
    width: 70%;
    height: 70%;
    border: 0.2px solid #848484;
    text-align: center;
}

#containerVacunas h2 {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    letter-spacing: 2px;
    font-size: 1.5em;
    margin: 0.5;
    color: #000000;
}

#containerVacunas input {
    width: 220px;
    height: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    background: #eee;
    padding: 1em 2em;
    outline: none;
    border: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#containerVacunas button {
    background: #196844;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1.9em;
    margin: 0.5em;
    border-radius: 7px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
}

.form-group button {
    background: #196844;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1.9em;
    margin: 1.0em 1.0em 1.0em 1.0em;
    border-radius: 7px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
}