<br>
<div class="introduccion">
    Los porcinos reproductores y los lechones nacidos en la Granja Marinilla del Politécnico Jaime Isaza Cadavid, deben
    ser vacunados según su etapa de desarrollo y según un plan de vacunación ya definido.

</div>
<br>
<br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre de Vacuna</th>
            <th>Momento de Aplicación</th>
            <th>A Que Porcino</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rinitis</td>
            <td>90 días</td>
            <td>Porcina en gestación</td>
        </tr>
        <tr>
            <td>Colitclostidrium</td>
            <td>100 días</td>
            <td>Porcina en gestación</td>
        </tr>

        <tr>
            <td>Baycorx</td>
            <td>4 días de nacidos</td>
            <td>Lechones</td>
        </tr>

        <tr>
            <td>Primera Mycroplasma</td>
            <td>7 días de nacidos</td>
            <td>Lechones</td>
        </tr>

        <tr>
            <td>Segunda Mycroplasma</td>
            <td>21 días de nacidos</td>
            <td>Lechones</td>
        </tr>

        <tr>
            <td>Desparacitación</td>
            <td>Cada 6 meses</td>
            <td>Porcinos Machos</td>
        </tr>
    </tbody>
</table>

<br>
<br>


<div id="btnMostrarForms">
    <button type="submit" class="btn btn-primary" (click)="mostrarFormPorcinos()">
        Registrar Vacuna de Porcino</button>

    <button type="submit" class="btn btn-primary" (click)="mostrarFormCamadas()">
        Registrar Vacuna de Camada</button>
</div>

<br>
<br>

<div id="formVacPorcinos" *ngIf="mostrarForm">

    <h2> Vacunas de Porcinos</h2>
    <br>

    <form>
        <!-- <div class="form-group" > -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Identificación Animal*</label>
                <input type="number" class="form-control" id="identificacion_animal"
                    placeholder="Identificación del animal">
            </div>

            <div class="form-group col-md-6">

                <label for="exampleInputEmail1">Vacuna*</label>
                <input type="text" class="form-control" id="vacuna" aria-describedby="emailHelp"
                    placeholder="Vacuna a aplicar">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Fecha programada*</label>
                <input type="date" class="form-control" id="fecha_programada"
                    placeholder="Fecha programada de aplicación">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Evento*</label>
                <input type="text" class="form-control" id="evento" placeholder="Evento de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Fecha de ejecución</label>
                <input type="date" class="form-control" id="fecha_ejecucion"
                    placeholder="Fecha de aplicación de vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Via de aplicación*</label>
                <input type="text" class="form-control" id="via_aplicacion" placeholder="Via de aplicación">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Dosis*</label>
                <input type="number" class="form-control" id="dosis" placeholder="Dosis de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Laboratorio*</label>
                <input type="text" class="form-control" id="laboratorio" placeholder="Laboratorio de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Registro ICA*</label>
                <input type="text" class="form-control" id="registro_ica" placeholder="Registro ICA">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Número de lote* </label>
                <input type="text" class="form-control" id="numero_lote" placeholder="Número de lote de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Tiempo de retiro </label>
                <input type="text" class="form-control" id="tiempo_retiro" placeholder="Días de retiro de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Observación</label>
                <input type="text" class="form-control" id="observacion" placeholder="Observación">
            </div>

            <br>
            <br>
            <br>
            <br>

            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="submit" class="btn btn-primary">Consultar</button>
            <button type="submit" class="btn btn-primary">Modificar</button>
            <button type="submit" class="btn btn-primary">Eliminar</button>


        </div>
    </form>
</div>


<div id="formVacCamadas" *ngIf="mostrarFormC">

    <h2> Vacunas de Camadas</h2>

    <br>

    <form>

        <!-- <div class="form-group" > -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Identificación Camada*</label>
                <input type="number" class="form-control" id="identificacion_camada"
                    placeholder="Identificación de la camada">
            </div>

            <div class="form-group col-md-6">

                <label for="exampleInputEmail1">Vacuna*</label>
                <input type="text" class="form-control" id="vacuna" aria-describedby="emailHelp"
                    placeholder="Vacuna a aplicar">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Fecha programada*</label>
                <input type="date" class="form-control" id="fecha_programada"
                    placeholder="Fecha programada de aplicación">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Evento*</label>
                <input type="text" class="form-control" id="Evento" placeholder="Evento de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Fecha de ejecución</label>
                <input type="date" class="form-control" id="fecha_ejecucion"
                    placeholder="Fecha de aplicación de vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Via de aplicación*</label>
                <input type="text" class="form-control" id="via_aplicacion" placeholder="Via de aplicación">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Dosis*</label>
                <input type="number" class="form-control" id="dosis" placeholder="Dosis de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Laboratorio*</label>
                <input type="text" class="form-control" id="laboratorio" placeholder="Laboratorio de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Registro ICA*</label>
                <input type="text" class="form-control" id="registro_ica" placeholder="Registro ICA">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Número de lote* </label>
                <input type="text" class="form-control" id="numero_lote" placeholder="Número de lote de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Tiempo de retiro </label>
                <input type="text" class="form-control" id="tiempo_retiro" placeholder="Días de retiro de la vacuna">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Observaciones </label>
                <input type="text" class="form-control" id="observacion" placeholder="Observación">
            </div>

            <br>
            <br>
            <br>
            <br>

            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="submit" class="btn btn-primary">Consultar</button>
            <button type="submit" class="btn btn-primary">Modificar</button>
            <button type="submit" class="btn btn-primary">Eliminar</button>

        </div>
    </form>
</div>