<br>

<div class="introduccion">
  Los porcinos reproductores y los lechones nacidos en la Granja Marinilla del
  Politécnico Jaime Isaza Cadavid, deben ser vacunados según su etapa de desarrollo y
  según un plan de vacunación ya definido.

</div>


<br>

<table>

  <tr>
    <th>Nombre de Vacuna</th>
    <th>Momento de Aplicación</th>
    <th>A Quién</th>
  </tr>

  <tr>
    <td>Rinitis</td>
    <td>90 días</td>
    <td>Porcina en gestación</td>
  </tr>

  <tr>
    <td>Colitclostidrium</td>
    <td>100 días</td>
    <td>Porcina en gestación</td>
  </tr>

  <tr>
    <td>Desparacitación</td>
    <td>107 días</td>
    <td>Porcina en gestación</td>
  </tr>

  <tr>
    <td>Baycorx</td>
    <td>4 días de nacidos</td>
    <td>Lechones</td>
  </tr>

  <tr>
    <td>Primera Mycroplasma</td>
    <td>7 días de nacidos</td>
    <td>Lechones</td>
  </tr>

  <tr>
    <td>Segunda Mycroplasma</td>
    <td>21 días de nacidos</td>
    <td>Lechones</td>
  </tr>

  <tr>
    <td>Desparacitación</td>
    <td>Cada 6 meses</td>
    <td>Porcinos Machos</td>
  </tr>
</table>

<br>


<div id="containerVacunas">

  <h2>Registro de Vacunas de Porcinos</h2>

<form>

  <br>

  <input type="number" placeholder="Identificación Animal">
  <br>
  <br>
  <input type="number" placeholder="Vacuna">
  <br>
  <br>
  <input type="text" placeholder="Fecha Programada">
  <br>
  <br>
  <input type="text" placeholder="Fecha de Ejecución">
  <br>
  <br>
  <input type="text" placeholder="Observaciones">
  <br>
  <br>
  <br>

  <button type="submit">Registrar</button>
  <button type="submit">Consultar</button>
  <button type="submit">Modificar</button>
  <button type="submit">Eliminar</button>

</form>

</div>



<div id="containerVacunasGestacion">

  <h2>Registro de Vacunas de Porcinos en gestación</h2>

<form>

  <br>

  <input type="number" placeholder="Identificación Animal">
  <br>
  <br>
  <input type="number" placeholder="Vacuna">
  <br>
  <br>
  <input type="email" placeholder="Parto">
  <br>
  <br>
  <input type="text" placeholder="Fecha Programada">
  <br>
  <br>
  <input type="text" placeholder="Fecha de Ejecución">
  <br>
  <br>
  <input type="text" placeholder="Observaciones">
  <br>
  <br>
  

  <button type="submit">Registrar</button>
  <button type="submit">Consultar</button>
  <button type="submit">Modificar</button>
  <button type="submit">Eliminar</button>
</form>

</div>
