body {
    background-image: url('/../../../assets/imagenes/fondo cerditos.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    image-resolution: 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.recuperacion {
    width: 100%;
    height: 100;
    text-align: center;
}

.recuperacionContrasenaForm {
    margin: 29%;
    margin-top: 9%;
    position: absolute;
    height: auto;
    width: 45%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.recuperacionContrasenaForm p {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

button {
    font-family: 'Roboto', sans-serif;
    height: 15%;
    width: 33%;
    margin-left: 32%;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}