
<br>

<div id="container">

  <h2>Registro de Camadas</h2>

  <form>

    <br>


    <input type="number" placeholder="Fecha De Destete">
    <br>
    <br>
    <input type="number" placeholder="Número de s Machos">
    <br>
    <br>
    <input type="number" placeholder="Número de  Hembras">
    <br>
    <br>
    <input type="number" placeholder="Número de Lechones Muertos">
    <br>
    <br>
    <input type="number" placeholder="Días de Lactancia">
    <br>
    <br>
    <input type="number" placeholder="Peso Total de lechones Al Destete">
    <br>
    <br>

    <input type="text" placeholder="Jaula de Destete">
    <br>
    <br>
    <button type="submit">Registrar</button>
    <button type="submit">Consultar</button>
    <button type="submit">Modificar</button>
  </form>

</div>
