


  <div id="container">
  
     <h2>Registro de Camadas</h2>
     
    <form>

        <br>
       
      
      <input type="text" placeholder="">
      <br>
      <br>
      <input type="number" placeholder="">
      <br>
      <br>
      <input type="email" placeholder="">
      <br>
      <br>
      <input type="number" placeholder="">
      <br>
      <br>
      <input type="text" placeholder="">

      <br>
      <br>
      

      <button type="submit">Registrar</button>

    </form>

  </div>

