
  <div id="container">
  
     <h2>Registro de Montas</h2>
     
    <form>

        <br>
       
      
      <input type="text" placeholder="Identificación Animal">
      <br>
      <br>
      <input type="date" placeholder="Fecha de Monta">
      <br>
      <br>
      <input type="text" placeholder="Tipo de Servicio">
      <br>
      <br>
      <input type="number" placeholder="Identificación Macho">
      <br>
      <br>
      <input type="text" placeholder="Fecha Probable de parto">
      <br>
      <br>
    

      <button type="submit">Registrar</button>
      <button type="submit">Consultar</button>
      <button type="submit">Modificar</button>

    </form>

  </div>


