<header id="header">

    <div id="logo-header">
        <img src="../../../assets/imagenes/logo2.png">
    </div>
 <br>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" id="perfil" (click)="salir()">Cerrar Sesión</a>
        </div>
    </div>

</header>

<br>