<br>

<div class="introduccion">
  Los porcinos reproductores de la Granja Marinilla del Politécnico Colombiano
  Jaime Isaza Cadavid deben ser registrados en el sistema para posteriormente poder gestionar su
  trazabilidad de partos.
</div>


<div id="container">

  <h2>Registro de Animales</h2>

  <form>

    <br>


    <input type="number" name="id" placeholder="Identificación Animal">
    <br>
    <br>
    <input type="text" name="" placeholder="Raza">
    <br>
    <br>
    <input type="text" name="" placeholder="Fecha de Nacimiento">
    <br>
    <br>
    <input type="number" name="" placeholder="Identificación Madre">
    <br>
    <br>
    <input type="number" name="" placeholder="Identificación Padre">
    <br>
    <br>
    <input type="text" name="" placeholder="Procedencia">
    <br>
    <br>


    <button type="submit">Registrar</button>
    <button type="submit">Consultar</button>
    <button type="submit">Modificar</button>

  </form>

</div>
