<br>

<div class="introduccion">
    Los porcinos reproductores de la Granja Marinilla del Politécnico Colombiano Jaime Isaza Cadavid deben ser registrados en el sistema para posteriormente poder gestionar su trazabilidad de partos.
</div>


<div id="container">

    <h2>Registro de Animales</h2>
    <br>
    <form>

        <div class="form-group">
            <label for="exampleInputPassword1">Identificación animal*</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Identificación del animal">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Raza*</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Raza del animal">
            <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Fecha de nacimiento*</label>
            <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Fecha de nacimiento del animal">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Identificación de la madre</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Identificación de la madre">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Identificación del padre</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Identificación del padre">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Procedencia*</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Procedencia del animal">
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>


    </form>
</div>