.introduccion { 
    font-family: 'Roboto', sans-serif; 
    color: black; 
    font-size: 18px; 
    width: 90%;
    font-weight: 400; 
    text-align: center; 
    background: #D6E9DD; 
    margin:  15px 15px 15px 40px; 
    overflow: hidden; 
    padding: 15px;
    border-radius: 35px 0px 35px 0px; 
  }
  


  .reporte {
    font-family: 'Roboto', sans-serif; 
    color: black; 
    font-size: 15px; 
    text-align: center;
    margin:  35px 35px 35px 99px;  
    width: 20%;
    overflow:hidden;
     padding:20px; 
    background-color:#EDEDED;
    border-radius: 5px;
    display: inline-block;
    }


    