<br>

<div class="introduccion">
  Los reportes permiten analizar de una mejor manera, la información referente a los partos
  tenidos en la granja Marinilla del Politécnico Colombiano Jaime Isaza Cadavid.
  Teniendo en cuenta diferentes parametros como por ejemplo
  la cantidad de lechones muertos
</div>


<div class="container">

  <button class="reporte">
    Reporte Número de Lechones Muertos Por Mes
  </button>

  <button class="reporte">
    Reporte Número de Lechones Vivos Por Mes
  </button>

  <button class="reporte">
    Reporte Número de Lechones Nacidos Por Porcino 
  </button>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
