<br>

<div class="introduccion">
    Los reportes permiten a los usuarios realizar un correcto análisis de la información. El sistema permite generar 3 tipos de
    reportes según la información registrada de los partos de los porcinos reproductores.
</div>

<div class="container">

    <br>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="../../../assets/imagenes/2.jpg" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title">Reporte de Número de lechones nacidos por porcino</h5>
                    <br>
                    <a [href]="reportsURLS.born_by_animal" target="_blank" class="btn btn-primary">Decargar</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-4">
            <div class="card">
                <img src="../../../assets/imagenes/3.jpg" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title">Reporte de Número de lechones vivos por mes</h5>
                    <br>
                    <a [href]="reportsURLS.born_alive_per_month" target="_blank" class="btn btn-primary">Descargar</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-4">
            <div class="card">
                <img src="../../../assets/imagenes/5.jpg" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title">Reporte de Número de lechones muertos por mes</h5>
                    <br>
                    <a [href]="reportsURLS.born_dead_per_month" target="_blank" class="btn btn-primary">Descargar</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
