<br>

<div class="introduccion">
  Los reportes permiten analizar de una mejor manera, la información referente a los partos
  tenidos en la granja Marinilla del Politécnico Colombiano Jaime Isaza Cadavid.
  Teniendo en cuenta diferentes parametros como por ejemplo
  la cantidad de lechones muertos
</div>

<div class="container">

  <br>
  <br>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="../../../assets/imagenes/reporte1.jpg"  alt="imagen">
        <div class="card-body">
          <h5 class="card-title">Número de Lechones Nacidos Por Porcino</h5>
          <p class="card-text">Descripción</p>
          <a href="#" class="btn btn-primary">Decargar</a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-4">
      <div class="card">
          <img src="../../../assets/imagenes/reporte1.jpg"  alt="imagen">
        <div class="card-body">
          <h5 class="card-title">Número de Lechones Vivos Por Mes</h5>
          <p class="card-text">Descripción</p>
          <a href="#" class="btn btn-primary">Descargar</a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-4">
      <div class="card">
          <img src="../../../assets/imagenes/reporte1.jpg"  alt="imagen">
        <div class="card-body">
          <h5 class="card-title">Número de Lechones Muertos Por Mes</h5>
          <p class="card-text">Descripción</p>
          <a href="#" class="btn btn-primary">Descargar</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>