.introduccion {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    width: 90%;
    font-weight: 400;
    text-align: center;
    background: #D6E9DD;
    margin: 15px 15px 15px 40px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
}

#container {
    box-shadow: 9px 10px 70px 9px rgba(133, 131, 131, 0.31);
    text-align: center;
    border-radius: 5px;
    margin: 3em auto;
    background: rgba(255, 255, 255, 0.95);
    height: 900px;
    width: 730px;
    padding: 1em;
    position: static;
}

#container h2 {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    letter-spacing: 2px;
    font-size: 25px;
    color: #000000;
    margin: 0.5em
}

.form-group {
    margin: 0.5em
}



.form-group label {
    font-size: 16px;
    color: #000000;
    width: 80%;
    display: flex;
    align-items: baseline;
    position: static;
}


#container button {
    background: #196844;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1.9em;
    margin: 1.0em 1.0em 1.0em 1.0em;
    border-radius: 7px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
}
