<br>

<div class="introduccion">
    La trazabilidad de partos de los porcinos reproductores de la granja Marinilla del Politécnico Colombiano Jaime Isaza Cadavid, consta de 3 etapas, Montas, Partos y Camadas. La información se debe gestionar según cada una de estas 3 etapas y en el respectivo
    orden.

</div>

<br>
<div id="container">

    <h2>Registro de Partos</h2>
    <br>

    <form>
        <div class="form-row">
            <div class="form-group col-md-3.5">
                <label for="inputEmail4">Identificación animal*</label>
                <input type="number" class="form-control" id="identificacion_animal" placeholder="Identificación animal">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Fecha de monta*</label>
                <input type="date" class="form-control" id="fecha_monta" placeholder="Fecha de la monta">
            </div>

            <div class="form-group col-md-3.5">
                <label for="exampleInputPassword1">Tipo servicio* </label>
                <select class="custom-select custom-select-md mb-2" formControlName="raza">
                         <option selected value=Natural>Natural</option>
                         <option value="Inseminacion">Inseminación</option>
                    </select>
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Identificación macho</label>
                <input type="number" class="form-control" id="identificacion_macho" placeholder="Identificación del macho">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Fecha prob. parto*</label>
                <input type="date" class="form-control" id="fecha_probable" placeholder="Fecha probable del parto">
            </div>

            <div class="form-group col-md-10">
                <label for="inputPassword4"> <b> Información del Parto </b> </label>
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Fecha de parto*</label>
                <input type="date" class="form-control" id="fecha_parto" placeholder="Fecha del parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Jaula de parto*</label>
                <input type="text" class="form-control" id="jaula_parto" placeholder="Jaula del parto">
            </div>


            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Id camada*</label>
                <input type="number" class="form-control" id="identificacion_camada" placeholder="Identificación camada">
            </div>


            <div class="form-group col-md-2">
                <label for="inputPassword4">Vivos*</label>
                <input type="number" class="form-control" id="vivos_parto" placeholder="Lechones vivos">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Muertos* </label>
                <input type="number" class="form-control" id="muertos_parto" placeholder="Lechones muertos">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Machos* </label>
                <input type="number" class="form-control" id="machos_parto" placeholder="Lechones machos">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Hembras* </label>
                <input type="number" class="form-control" id="hembras_parto" placeholder="Lechones hembras">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Momias* </label>
                <input type="number" class="form-control" id="momias" placeholder="Fecha del parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Peso total vivos*</label>
                <input type="number" class="form-control" id="peso_total_vivos" placeholder="Peso lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Fecha prob. destete</label>
                <input type="date" class="form-control" id="fecha_probable_destete" placeholder="">
            </div>


            <div class="form-group col-md-10">
                <label for="inputPassword4"> <b> Información de la Camada </b></label>
            </div>


            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Fecha destete</label>
                <input type="date" class="form-control" id="fecha_destete" placeholder="">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Machos</label>
                <input type="number" class="form-control" id="machos_destete" placeholder="Lechones machos">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Hembras</label>
                <input type="number" class="form-control" id="hembras_destete" placeholder="Lechones hembras">
            </div>

            <div class="form-group col-md-2">
                <label for="inputPassword4">Muertos</label>
                <input type="number" class="form-control" id="muertos_destete" placeholder="Lechones muertos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Días de lactancia</label>
                <input type="number" class="form-control" id="dias_lactancia" placeholder="Días de lactancia">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Peso total al destete</label>
                <input type="number" class="form-control" id="peso_total_destete" placeholder="Peso total de lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Jaula de destete</label>
                <input type="number" class="form-control" id="jaula_destete" placeholder="Jaula de destete">
            </div>

        </div>
    </form>
</div>
<!-- 


    <button type="submit" class="btn btn-primary">Registrar</button>
    <button type="submit" class="btn btn-primary">Consultar</button>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <button type="submit" class="btn btn-primary">Eliminar</button>
 
-->