<br>

<div class="introduccion">
    La trazabilidad de partos de los porcinos reproductores de la granja Marinilla del Politécnico Colombiano Jaime Isaza Cadavid, consta de 3 etapas, Montas, Partos y Camadas. La información se debe gestionar según cada una de estas 3 etapas y en el respectivo
    orden.

</div>

<br>
<div id="container">

    <h2>Registro de Partos</h2>
    <br>

    <form>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputEmail4">Identificación animal</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="Ingrese la identificación animal">
            </div>

            <div class="form-group col-md-5">
                <label for="inputPassword4">Fecha de monta</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Ingrese la fecha de la monta">
            </div>

            <div class="form-group col-md-5">
                <label for="inputEmail4">Tipo de servicio</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese el tipo de servicio de la monta">
            </div>

            <div class="form-group col-md-5">
                <label for="inputPassword4">Identificación del macho</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese la identificación del macho">
            </div>

            <div class="form-group col-md-5">
                <label for="inputPassword4">Fecha probable de parto</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Ingrese la fecha probable del parto">
            </div>

            <div class="form-group col-md-5">
                <label for="inputPassword4">Identificación de camada</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese la identificación de la camada">
            </div>

            <div class="form-group col-md-5">
                <label for="inputPassword4">Fecha de parto</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese la fecha del parto">
            </div>

            <div class="form-group col-md-5">
                <label for="inputPassword4">Jaula de parto</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese la jaula del parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Lechones vivos</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Número de lechones vivos en el parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Lechones muertos </label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Número de lechones muertos en el parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Lechones machos </label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Número de lechones machos en el parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Lechones hembras </label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Número de lechones hembras en el parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Lechones momias </label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese la fecha del parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Lechones hembras </label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el número de momias en el parto">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Peso total vivos</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.9">
                <label for="inputPassword4">Fecha Prob. destete</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Fecha probable de destete">
            </div>

            <div class="form-group col-md-3.9">
                <label for="inputPassword4">Fecha destete</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Machos al destete</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Hembras al destete</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Muertos al destete</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Días de lactancia</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Peso total al destete</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

            <div class="form-group col-md-3.5">
                <label for="inputPassword4">Jaula de destete</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Ingrese el peso total de los lechones vivos">
            </div>

        </div>
    </form>
</div>
<!-- 
<form>

  
                <div class="form-group">
                    <label for="exampleInputPassword1">Peso de lechones vivos </label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Ingrese el peso total de los lechones vivos">
                  </div>


    <button type="submit" class="btn btn-primary">Registrar</button>
    <button type="submit" class="btn btn-primary">Consultar</button>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <button type="submit" class="btn btn-primary">Eliminar</button>
  </form>
</div> 
-->
<!--
<br>

<div class="introduccion">
  La trazabilidad de partos de los porcinos reproductores de la granja Marinilla
  del Politécnico Colombiano Jaime Isaza Cadavid, consta de 3 etapas, Montas, Partos y Camadas.
  La información se debe gestionar según cada una de estas 3 etapas y en el respectivo orden.

</div>

<br>
<br>



<div id="container">

  <h2>Registro de Partos</h2>

  <form>

    <br>


    <input type="number" placeholder="Identificación de Camada">
    <br>
    <br>
    <input type="date" placeholder="Fecha de Parto">
    <br>
    <br>
    <input type="text" placeholder="Jaula de Parto">
    <br>
    <br>
    <input type="number" placeholder="Número de Lechones vivos">
    <br>
    <br>
    <input type="number" placeholder="Nímero de Lechones Muertos">
    <br>
    <br>
    <input type="number" placeholder="Número de Machos">
    <br>
    <br>
    <input type="number" placeholder="Número de Hembras">
    <br>
    <br>
    <input type="number" placeholder="Número de Momias">
    <br>
    <br>
    <input type="number" placeholder="Peso Total de Lechones Vivos">
    <br>
    <br>
    <input type="date" placeholder="Fecha De Probable Destete">
    <br>
    <br>

    <button type="submit">Registrar</button>
    <button type="submit">Consultar</button>
    <button type="submit">Modificar</button>

  </form>

</div>


 -->