
  <br>
  <br>
  <br>
  <br>
  
  <div id="menu">
  
 
   
  <ul>
    
    <li> <a [routerLink]="['animal']"> Animal </a> </li>
    <li> <a [routerLink]="['montas']"> Montas </a> </li>
    <li> <a [routerLink]="['partos']"> Partos </a> </li>
    <li> <a [routerLink]="['camadas']"> Camadas </a> </li>
    <li> <a [routerLink]="['vacunas']"> Vacunas </a> </li>
    <li> <a [routerLink]="['reportes']"> Reportes </a> </li>
    <li> <a [routerLink]="['notificaciones']"> Notificaciones </a> </li>
    <li> <a [routerLink]="['usuarios']"> Usuarios </a> </li>
    
  </ul>
  </div>

