
.navbar {
    height: 40px;
    border: #D8D8D8 1px solid;
    position: static;
}

.navbar ul li {
    width: 140px;
}

.navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #196844;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 2px;
}

.navbar ul li a:hover {
    background-color: #EDEDED;
    border-radius: 7px;
    color: black;
}

.navbar ul li a.active {
    background: #196844;
    color: white;
    border-radius: 7px;
}