
  
  
  <br>
  <br>
  <br>
  <br>
  

  <nav id="menu">
   
  <ul>
    <li> <a [routerLink]="['home']" routerLinkActive="active"> Inicio </a> </li>
    <li> <a [routerLink]="['animal']" routerLinkActive="active"> Animal </a> </li>
    <li> <a [routerLink]="['montas']" routerLinkActive="active"> Montas </a> </li>
    <li> <a [routerLink]="['partos']" routerLinkActive="active"> Partos </a> </li>
    <li> <a [routerLink]="['camadas']" routerLinkActive="active"> Camadas </a> </li>
    <li> <a [routerLink]="['vacunas']" routerLinkActive="active"> Vacunas </a> </li>
    <li> <a [routerLink]="['reportes']" routerLinkActive="active"> Reportes </a> </li>
    <li> <a [routerLink]="['notificaciones']" routerLinkActive="active"> Notificaciones </a> </li>
    <li> <a [routerLink]="['usuarios']" routerLinkActive="active"> usuarios </a> </li>    
   
  </ul>
</nav>

