<div id="demo" class="carousel slide" data-ride="carousel">

    <br>
    <br>
<!-- 
    <div class="slider">
        <ul>
            <li>
                <img src="../../../assets/imagenes/1.jpg" class="img-fluid" alt="porcinos">
            </li>
            <li>
                <img src="../../../assets/imagenes/2.jpg" class="img-fluid" alt="porcinos">
            </li>
            <li>
                <img src="../../../assets/imagenes/3.jpg" class="img-fluid" alt="porcinos">
            </li>
            <li>
                <img src="../../../assets/imagenes/4.jpg" class="img-fluid" alt="porcinos">
            </li>
        </ul>
    </div>
</div>

-->