<div id="demo" class="carousel slide" data-ride="carousel">
    <br>
    <br>
    <div class="slider">
        <ul>
            <li>
                <img src="../../../assets/imagenes/4.jpg" class="img-fluid" alt="porcinos4">
            </li>
            <li>
                <img src="../../../assets/imagenes/3.jpg" class="img-fluid" alt="porcinos3">
            </li>
            <li>
                <img src="../../../assets/imagenes/5.jpg" class="img-fluid" alt="porcinos5">
            </li>
            <li>
                <img src="../../../assets/imagenes/1.jpg" class="img-fluid" alt="porcinos1">
            </li>
            <li>
                <img src="../../../assets/imagenes/2.jpg" class="img-fluid" alt="porcinos2">
            </li>

        </ul>
    </div>
</div>