<br>

<div class="introduccion">
    En esta sección se podrá descargar el Manual de Usuario de este aplicativo, el cual servirá para resolver dudas frente a su funcionamiento.

</div>

<div class="container">

    <br>
    <br>

    <div class="container">

        <div class="card mb-6">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../../assets/imagenes/manual.jpg" alt="imagen">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Manual de usuario</h5>
                        <a href="#" class="btn btn-primary">Descargar</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>