<br>
<br>
<br>

<div class="container">

    <div class="card mb-6">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/imagenes/manuales.png" alt="imagen">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Manual de usuario</h5>
                    <p>El manual de usuario es un documento que tiene como objetivo dar asistencia a las personas que utilizan este sistema. En el se encuentran documentadas todas las funcionalidades de forma escrita y con imagenes asociadas.
                    </p>
                    <a href="../../../../assets/archivos/Manual de Usuario.pdf" download="Manual de usuario" class="btn btn-primary">
                        Descargar</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>